@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Poppins';
}

@layer utilities {

}

@layer components {
  .form-group {
    @apply mt-[26px]
  }

  .App {
    background-image: url('./bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(8, auto);
    max-width: 1100px;
    margin: 0 auto;
  }

  .instruction {
    background-image: url('./instruction.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}